.error__text h1 {
  font-size: 15rem !important;
  line-height: 1.25 !important;
}

.error__text h5 {
  font-size: 1.25rem;
  color: #FFFFFF;
  text-align: center;
}

.error__text h3 {
  font-size: 2.5rem;
  color: #7DCBC4;
  text-decoration: underline;
  text-align: center;
  line-height: 3 !important;
}

.error__text h3:hover {
  cursor: pointer;
}
