.main__basicWeatherViewCard__container {
  position: relative;
}

.main__basicWeatherViewCard__wrapper {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: space-evenly;
  justify-content: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  position: absolute;
  top: 6.4rem;
  margin: auto;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.main__basicWeatherViewCard {
  display: flex;
  width: 30vw;
  height: 30vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
  margin: 1rem 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
}

.main__basicWeatherViewCard__addMore {
  display: flex;
  width: 30vw;
  height: 30vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
  margin: 1rem 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
  border: 2px dashed #77909D;
  border-radius: 4px;
}

#.main__basicWeatherViewCard h5 {
  color: #FFFFFF;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.main__basicWeatherViewCard__title__wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.main__basicWeatherViewCard__title {
  display: -webkit-inline-box;
  text-align: center;

}

.main__basicWeatherViewCard__title h5 {
  color: #FFFFFF;
  font-size: 1.5rem !important;
  text-transform: uppercase;
}

.main__basicWeatherViewCard__svg {
  max-width: 75px;
  margin: auto auto;
  padding-top: 1.5em;
}

.main__basicWeatherViewCard__degrees {
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto auto;
  top: 11.25em;
  padding: 0 !important;
}

.main__basicWeatherViewCard__degrees h5 {
  color: #FFFFFF;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 3.5em !important;
  display: block;
  text-align: center;
  margin: auto auto;
  margin-left: 0.35em;
}

.main__basicWeatherCard__footer__wrapper {
  background: rgba(22,31,36,.15);
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  top: 16em;
}

.main__basicWeatherCard__footer__item {
  display: inline-block;
  color: #FFFFFF;
}

.main__basicWeatherCard__footer__title {
  margin-left: -8px;
}

.main__basicWeatherViewCard__button__title {
  margin-top: 25%;
  margin-left: 34%;
  margin-right: 34%;
}

.basicWeatherViewCard__addMore__button {
  background: #536E7B !important;
}

.basicWeatherViewCard__addMore__button span {
  font-size: 1.5em;
  color: #77909D;
}

.main__basicWeatherCard__addMore__text {
  color: #536E7B;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main__basicWeatherViewCard__addMore {
  background: transparent;
}

.basicWeatherViewCard__bttn__remove {
  color: #FFFFFF !important;
  background: rgb(247, 65, 45);
  width: 2em;
  height: 2em;
  position: absolute;
  right: 0;
  z-index: 200;
}

.basicWeatherViewCard__bttn__remove span {
  font-size: 1.5rem !important;
  line-height: 3rem !important;
}
