.errorComponent__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 45vh;
}


.errorComponent__wrapper svg {
  display: block;
  width: 50vw;
  min-width: 10em;
  max-width: 2em;
  margin: 1.25em auto;
}


.errorComponent__wrapper h1 {
  font-size: 1em;
  line-height: 1.85em;
  text-align: center;
  color: #7DCBC4;
  font-smoothing: antialiased;
  width: 75vw;
  max-width: 15em;
  margin: auto;
}
