.main__emptyStateCard {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 35vh;
}

.main__emptyStateCard svg {
  display: block;
  width: 25vw;
  min-width: 7em;
  max-width: 1em;
  margin: 1.25em auto;
}


.main__emptyStateCard h1 {
  font-size: 1em;
  line-height: 1.85em;
  text-align: center;
  color: #7DCBC4;
  font-smoothing: antialiased;
  width: 75vw;
  max-width: 15em;
  margin: auto;
}
