<!DOCTYPE html>
<html lang="en">

    <head>
        <title><% htmlWebpackPlugin.options.title %></title>

        <!-- metadata -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- styles -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/taucharts@1/build/production/tauCharts.min.css">

    </head>

    <body style="background-color: #36474f;">
        <div class="container"></div>
        <!-- scripts -->
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1ySMiPoooFMFCbH2qT0MV19rK2c73A30&libraries=places"></script> -->
    </body>
</html>
